@import 'tailwindcss';

@theme {
  --color-brand-100: #e2fdff;
  --color-brand-200: #bfd7ff;
  --color-brand-300: #9bb1ff;
  --color-brand-400: #788bff;
  --color-brand-500: #5465ff;
  --color-ink: #0a0a0a;
  --color-paper: #f6f4ef;
}
